<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Cấp quyền sử dụng Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.IceamApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".infor_user"
            android:exported="false" />
        <!-- Splash Screen (Màn hình khởi động) -->
        <activity
            android:name=".SplashScreen.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Activity (Màn hình chính sau Splash) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity> <!-- Fragment Home Activity (Nếu cần thiết) -->
        <activity
            android:name=".Fragment_homeActivity"
            android:exported="true"></activity> <!-- Các Activity khác -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".CartActivity" />
    </application>

</manifest>